.card {
  text-align: center;
}

iframe {
  border: none;
  height: 450px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
  .landingCont {
    text-align: center;
    width: 100%;
  }
}

.landingCont {
  width: 100%;
  text-align: center;
}
