.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
.vidCont {
  width: 100%;
  text-align: center;
}

.mainCard {
  overflow-y: scroll;
  height: 375px;
}

.vidCard {
  height: 375px;
  overflow-y: scroll;
}

button {
  background-color: #ee6e73;
}
